.btn {
    background: transparent;
    border: none;
    cursor: pointer;
    &-add {
       &-icon{
        &:hover{
            color: $task-done;
        }
       } 
    }
    &-edit {
        &:disabled {
        display: none;
        }
    }
}