.btn {
    background: transparent;
    border: none;
    cursor: pointer;
    &-add {
        background-color: black;
        border-radius: 24px;
       &-icon:hover{
            color: $task-done;
       } 
    }
    &-edit {
        &:disabled {
        display: none;
        }
    }
    &-delete {
        &-icon:hover{
            color: $task-delete;
        }
    }
}