.task {
    background-color: aqua;
    margin-top: 5vh;
    padding: 0.5rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 8px;
}