@import './utils/reset';
@import './utils/variables';

@import './components/header';
@import './components/form';
@import './components/button';
@import './components/task';

body {
    font: {
        family: $font;
        weight: 400;
    }
    background-color: $background;    
}

#root {
    margin: 0.5rem;
}