@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');

body {
    font-family: "Mallanna", sans-serif;
}

.add-tasks {
    display: flex;
    gap: 1rem;
}

.task {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    align-items: center;
}